[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/LIBERO-plus"]
	path = third_party/LIBERO-plus
	url = https://github.com/sylvestf/LIBERO-plus.git
